.main-theme {
  --color-border-center: #000000;
  --color-txtandborder-titles:#1E1E1E;
  --color-background-concact:#86A3B4;
  --color-text-surname:#1C2E8C;
  --color-text-name:#FFFFFF;
  --color-left-titles:#263036;
  --color-right-description:#263036;
  --color-background-hirebutton:#55ff71;
  --color-button-hireme:purple;
  --margin-zero: 0px;
  --margin-titles-bottom:1em;
  --margin-lists-bottom:1em;
  --margin-listitems-bottom:0.8em;
  --margin-contactlist-bottom:2.25em;
  --padding-zero: 0px;
  --padding-titles-bottom:.5em}
