.my-theme {
    --color-border-center:#e5ff00; 
    --color-txtandborder-titles:#AE2012;
    --color-background-concact: #001219;
    --color-text-surname:#EE9B00;
    --color-text-name:#CA6702;
    --color-left-titles:#BB3E03;
    --color-right-description:#9B2226;
    --color-background-hirebutton:#005F73;
    --color-button-hireme:#E9D8A6;
    --margin-zero: 0px;
    --margin-titles-bottom:1em;
    --margin-lists-bottom:1em;
    --margin-listitems-bottom:0.8em;
    --margin-contactlist-bottom:2.25em;
    --padding-zero: 0px;
    --padding-titles-bottom:.5em;
}