body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: .2fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  gap: 0px 55px;
  grid-auto-flow: row;
  grid-template-areas:
    "left right";
  max-width: 1250px;
  justify-content: center;
  padding-bottom:5em;
  position:sticky;
  left:350px;

}

.left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 40px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name"
    "photo"
    "contact"
    "languages";
  grid-area: left;
  align-content: start;
<<<<<<< HEAD
  border-right: solid 1px black;
  background-color: #86A3B4;
  max-width:385px;
  padding-bottom:5em;
  -webkit-animation: leftblock 1s linear;
=======
  width: 385px;
  border-right: solid 1px var(--color-border-center);
  background-color: var(--color-background-concact);
  height: 1500px;
  position: sticky;
  top:0;
  left:0;
>>>>>>> lesson-14
}



.right {
  display: grid;
  grid-template-columns: 1.5fr;
  grid-template-rows: auto auto auto auto;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "summary"
    "skills"
    "workexp"
    "education";
  grid-area: right;
  align-content: start;
  justify-items: stretch;
  align-items: stretch;
  max-width:820px;
  padding-bottom:5em;
  -webkit-animation: rightblock 1s linear ;
}



.name {
  grid-area: name;
  margin-left: 2.5em;
  margin-top: 3.625em;
}

:root  {
  /* Colors */
  --color-border-center:#000000;
  --color-txtandborder-titles:#1E1E1E;
  --color-background-concact:#86A3B4;
  --color-text-surname:#1C2E8C;
  --color-text-name:#FFFFFF;
  --color-left-titles:#263036;
  --color-right-description:#263036;
  --color-background-hirebutton:#55ff71;
  --color-button-hireme:purple;
  
  /* margins */
  --margin-zero: 0px;
  --margin-titles-bottom:30px;
  --margin-lists-bottom:15px;
  --margin-listitems-bottom:10px;
  --margin-contactlist-bottom:36px;

  /*paddings */
  --padding-zero: 0px;
  --padding-titles-bottom:15px;
}


.main-theme {
   /* Colors */
   --color-border-center:#000000;
   --color-txtandborder-titles:#1E1E1E;
   --color-background-concact:#86A3B4;
   --color-text-surname:#1C2E8C;
   --color-text-name:#FFFFFF;
   --color-left-titles:#263036;
   --color-right-description:#263036;
   --color-background-hirebutton:#55ff71;
}



.myname {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 48px;
  color: var(--color-text-name);
  margin: var(--margin-zero);
}

.surname {
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 48px;
  color: var(--color-text-surname);
}


.photo {
  grid-area: photo;
}

.photocss {
  object-fit: cover;
  object-position: 0 0;
}

.titles {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 39px;
<<<<<<< HEAD
  color: #263036;
  padding-bottom: 1em;
  width: 85%;
  margin-bottom: 2em;
  margin-top: 0px;
}

.borderline {
  border-bottom: .1em solid #1E1E1E;
=======
  color: var(--color-txtandborder-titles);
  padding-bottom: var(--padding-titles-bottom);
  width: 85%;
  margin-bottom: var(--margin-titles-bottom);
  margin-top: var(--margin-zero);
}

.borderline {
  border-bottom: 6px solid var(--color-txtandborder-titles);
>>>>>>> lesson-14
}

.nomarked {
  list-style-type: none;
}

.list {
  padding: var(--padding-zero);
  margin: var(--margin-zero);
}

.itemoflist {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 29px;
<<<<<<< HEAD
  color: #263036;
  margin-bottom: 0.5em;
=======
  color: var(--color-left-titles);
  margin-bottom: var(--margin-listitems-bottom);
>>>>>>> lesson-14
}

.seconditemsoflist {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 19px;
  color: var(--color-left-titles);
}

.contact {
  grid-area: contact;
  margin-left: 2.5em;
  margin-right: 0.6em;
}

.limargin {
<<<<<<< HEAD
  margin-bottom: 2.25em;
=======
  margin-bottom: var(--margin-listitems-bottom);
>>>>>>> lesson-14
}


.languages {
  grid-area: languages;
  margin-left: 2.5em;
}

.lang-limargin {
<<<<<<< HEAD
  margin-bottom: 1em;
}

.langlist {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25em;
  color: #1E1E1E;
}



=======
  margin-bottom: var(--margin-lists-bottom);
}

>>>>>>> lesson-14
.righttitles {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
<<<<<<< HEAD
  font-size: 2.25em;
  color: #1E1E1E;
  padding-bottom: 0.5em;
  margin-top: 0px;
  margin-bottom: 1.5em;
=======
  font-size: 36px;
  line-height: 44px;
  color: var(--color-txtandborder-titles);
  padding-bottom: var(--padding-titles-bottom);
  margin-top:var(--margin-zero);
  margin-bottom: var(--margin-titles-bottom);
>>>>>>> lesson-14
}

.summary {
  grid-area: summary;
  margin-top: 3.5em;
  max-width:45rem;
  
}

.rightitemtxt {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-right-description);
}

.skills {
  grid-area: skills;
  max-width:45rem;
}

.textcols {
  column-width: 100%;
  column-count: 2;
  column-gap: 50px;
}

.skills-list {
<<<<<<< HEAD
  margin: 0px;
  padding-left: 1,5em;
=======
  margin:var(--margin-zero);
  padding-left: 25px;
>>>>>>> lesson-14
}

.workexp {
  grid-area: workexp;
  max-width:45rem;
}

<<<<<<< HEAD
.workexptxt {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  color: #000000;
}

.dl-margin {
  margin-bottom: 1em;
=======


.dl-margin {
  margin-bottom: var(--margin-lists-bottom);
>>>>>>> lesson-14
}



.education {
  grid-area: education;
  max-width:45rem;
}

.offerbutton {
  display: block;
  width: max-content;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--color-background-hirebutton);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
<<<<<<< HEAD
  color:#1C2E8C;
}


@media screen and (max-width: 385px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "left"
    "right"
    ;
  }

  .left {
    border-right:none;
  }
  .right {
    grid-template-columns: 24em;
    gap:3em 0;
  }

  .summary {
    padding-right:2em;
    padding-left:2em;
  }

  .skills {
    padding-right:2em;
    padding-left:2em;
  }

  .workexp {
    padding-right:2em;
    padding-left:2em;
  }

  .education {
    padding-right:2em;
    padding-left:2em;
  }
}


@media screen and (min-width:1200px) 
{ .block-shadow {
    box-shadow: .3em -.2em 10px rgba(0, 0, 0, 0.321);
    z-index:2;
  }
  
  .photocss:hover {
    transform: scale(1.8 , 1.8) translateX(85.5px) translateY(70px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition-duration: 2s;
  }
  
  .opacity_workexp {
    opacity: 70%;
  }
  
  .opacity_workexp:hover {
    opacity:100%;
    transition-duration: 4s;
  }


  @keyframes leftblock {
    0%{
      margin-top: 50vh;
      opacity:0;
    }
    100%{
      margin-top:0vh;
      opacity: 1;
    }
  }

  @keyframes rightblock {

    0% {
      margin-top:100vh;
      opacity:0;
    }
    100%{
      margin-top:0vh;
      opacity: 1;
    }
  }
}
  

=======
  color:var(--color-button-hireme);
}
>>>>>>> lesson-14
