body {
color:#333;
font-family:Arial, Helvetica, sans-serif
}

.font-weight-bold {
    font-weight:bold; 
}

.name {
    font-style:italic;
}

th {
    text-transform: uppercase;
}

a:link {
color:#00f;
text-decoration: underline;
}

a:visited {
        color:#005;
        text-decoration:underline;
}

a:hover {
    text-decoration:none;
}

#square {
    list-style-type:square;
}

.borderbottom {
    border-bottom: solid #00f  1px ;
}

.tablecss {
   background-color: rgb(177, 121, 230);
   width: 100%;
}

.photocss {
    width: 100px;
    height: 100px;
    border: solid #00f 2px;
    padding: 10px;
}

.titlecss {
    background-color: orange;
}

.headersaphoto {
    width: 100%;
}

.headersaphoto > img {
    float:right;
}

.headersaphoto > h1 {
    float:left;
}

.headersaphoto > p {
    float:left;
    clear:left;
}

.maininfo {
    clear:both;
}
