body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 385px 820px;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  gap: 0px 55px;
  grid-auto-flow: row;
  grid-template-areas:
    "left right";
  justify-content: center;
}

.left {
  display: grid;
  grid-template-columns: 385px;
  grid-template-rows: auto auto auto auto;
  gap: 40px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name"
    "photo"
    "contact"
    "languages";
  grid-area: left;
  align-content: start;
  width: 385px;
  border-right: solid 1px var(--color-border-center);
  background-color: var(--color-background-concact);
  height: 1500px;
  position: sticky;
  top:0;
  left:0;
}

.right {
  display: grid;
  grid-template-columns: 820px;
  grid-template-rows: auto auto auto auto;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "summary"
    "skills"
    "workexp"
    "education";
  grid-area: right;
  align-content: start;
  justify-items: stretch;
  align-items: stretch;
  width: 820px;
}

.name {
  grid-area: name;
  margin-left: 40px;
  margin-top: 58px;
}

:root  {
  /* Colors */
  --color-border-center:#000000;
  --color-txtandborder-titles:#1E1E1E;
  --color-background-concact:#86A3B4;
  --color-text-surname:#1C2E8C;
  --color-text-name:#FFFFFF;
  --color-left-titles:#263036;
  --color-right-description:#263036;
  --color-background-hirebutton:#55ff71;
  --color-button-hireme:purple;
  
  /* margins */
  --margin-zero: 0px;
  --margin-titles-bottom:30px;
  --margin-lists-bottom:15px;
  --margin-listitems-bottom:10px;
  --margin-contactlist-bottom:36px;

  /*paddings */
  --padding-zero: 0px;
  --padding-titles-bottom:15px;
}


.main-theme {
   /* Colors */
   --color-border-center:#000000;
   --color-txtandborder-titles:#1E1E1E;
   --color-background-concact:#86A3B4;
   --color-text-surname:#1C2E8C;
   --color-text-name:#FFFFFF;
   --color-left-titles:#263036;
   --color-right-description:#263036;
   --color-background-hirebutton:#55ff71;
}



.myname {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: var(--color-text-name);
  margin: var(--margin-zero);
}

.surname {
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: var(--color-text-surname);
}


.photo {
  grid-area: photo;
}

.photocss {
  object-fit: cover;
  object-position: 0 0;
}

.titles {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--color-txtandborder-titles);
  padding-bottom: var(--padding-titles-bottom);
  width: 85%;
  margin-bottom: var(--margin-titles-bottom);
  margin-top: var(--margin-zero);
}

.borderline {
  border-bottom: 6px solid var(--color-txtandborder-titles);
}

.nomarked {
  list-style-type: none;
}

.list {
  padding: var(--padding-zero);
  margin: var(--margin-zero);
}

.itemoflist {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-left-titles);
  margin-bottom: var(--margin-listitems-bottom);
}

.seconditemsoflist {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-left-titles);
}

.contact {
  grid-area: contact;
  margin-left: 40px;
  margin-right: 10px;
}

.limargin {
  margin-bottom: var(--margin-listitems-bottom);
}


.languages {
  grid-area: languages;
  margin-left: 40px;
}

.lang-limargin {
  margin-bottom: var(--margin-lists-bottom);
}

.righttitles {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--color-txtandborder-titles);
  padding-bottom: var(--padding-titles-bottom);
  margin-top:var(--margin-zero);
  margin-bottom: var(--margin-titles-bottom);
}

.summary {
  grid-area: summary;
  margin-top: 58px;
}

.rightitemtxt {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-right-description);
}

.skills {
  grid-area: skills;
}

.textcols {
  column-width: 100%;
  column-count: 2;
  column-gap: 50px;
}

.skills-list {
  margin:var(--margin-zero);
  padding-left: 25px;
}

.workexp {
  grid-area: workexp;
}



.dl-margin {
  margin-bottom: var(--margin-lists-bottom);
}



.education {
  grid-area: education;
}

.offerbutton {
  display: block;
  width: max-content;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--color-background-hirebutton);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:var(--color-button-hireme);
}